.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.bookslist {
  background-color: #f8f9fa;
  overflow-x: auto;
  margin-top: 2rem;
}

.bookform {
  width: 100%;
  margin: 2rem 0;
  padding: 0;
  color: #000;
}
