.wrap-form {
  padding: 0 0 8rem;
  font-family: 'Montserrat', sans-serif;
}

#form-title {
  min-width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 6.25rem 1.188rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: $warm-grey;
  text-transform: uppercase;

  @include font-props;
}

.bookform {
  min-width: 75rem;
  height: 2.813rem;
  padding: 0;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  color: $pinkish-grey;
  font-size: 1rem;
  letter-spacing: -0.15px;

  @include font-props;

  div {
    padding: 0;

    &:first-child {
      margin-right: 2.125rem;
    }
  }

  input,
  select,
  button {
    height: 100%;
  }
}

.category-input {
  width: 17.813rem;
  margin-right: 2.125rem;
}

.submit-form {
  flex-grow: 1;
  min-width: 11.5rem;
  margin-right: 0;

  button {
    width: 100%;
    font: bold 0.813rem 'Roboto Slab', serif;

    @include action-button;
  }
}
